@import "~bootstrap/scss/bootstrap";
body,
html {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: lightblue;
    padding: 20px;
}

.content {
    display: flex;
    flex: 1;
}

.sidebar {
    // width: 150px;
    background-color: lightgray;

    a {
        margin: 0.2rem 1rem;
        padding: 0.3rem 0.3rem;
        background-color: grey;
        text-decoration: none;
        color: white;
        &:hover {
            background-color: black;
        }
    }
    a.active {
        background-color: rgb(47, 47, 47);
        color: yellow;
    }
}

.main {
    flex: 1;
    background-color: white;
    overflow: auto;
}
.category {
    border: none;
    margin: 1rem;
}
ul {
    li {
        margin: 0.2rem;
    }
    // list-style-type: none;
}
